body {
    background: white;
    color: #555;
}

label {
    font-size: 14px;
    text-align: left;
    width: min-content;
}

.navbar {
    background-color: #00478f;
}

.left-content {
    align-items: center;
}

.left-content form {
    text-align: center;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: #f4f4f4;
}

.event-box {
    padding: 10px 20px;
}

.info-box input {
    width: 100%;
}

.transport-button {
    width: 100%;
    text-align: center;
    background-color: #eaeaea;
    /* padding: 10px 20px; */
    user-select: none;
}

.modal-button {
    display: inline-block;
    color: ghostwhite;
    background-color: #2f5f8f;
    border-radius: 1px;
    width: 60px;
    height: 25px;
    text-align: center;
    vertical-align: center;
    line-height: 25px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 150ms ease-out;
    user-select: none;
}

.modal-button > p {
    margin: auto 0;
}

.disabled {
    background-color: #eaeaea;
    color: #bababa;
    pointer-events: none;
}

.transport-button p {
    margin: 0;
}

.transport-button > p {
    margin: 10px 20px;
}

.transport-button:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

/* .transport-button:hover */
.transport-info:hover {
    background-color: #e1e1e1;
    cursor: pointer;
}

.date {
    max-width: 150px;
}

.time {
    max-width: 100px;
}

.date-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.location {
    margin: 0;
}

.formdescription {
    resize: none;
    width: 100%;
    margin: 10px 0 0 0;
}

#formsubmit {
    margin-top: 10px;
}

.transport-title {
    font-size: 14px;
    font-weight: 700;
}

.event-selected {
    /* display: flex;
    flex-direction: row; */
    text-align: left;
    font-size: 14px;
    position: relative;
}

.event-time {
    font-size: 13px;
}

.transport-info {
    padding: 10px 20px;
}

.transport-remove {
    display: flex;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(400px, -160%);
}

.transport-remove:hover {
    cursor: pointer;
    /* color: rgb(155, 155, 155); */
    background-color: #e1e1e1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 20vh auto auto; /* 15% from the top and centered */
    padding: 15px;
    border: 1px solid #888;
    width: 40%;
}

.right-container {
    text-align: right;
}

.modal-button:hover {
    background-color: #00478f;
}

.autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #cdcee3;
}

.autocomplete-active {
    background-color: dodgerblue;
    color: #ffffff;
}

.trip-box {
    margin: 10px 0;
    width: 100%;
    height: 300px;
    background-color: #eaeaea;
    border: 1px solid;
    overflow-x: hidden;
    overflow-y: scroll;
}

.trip {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    background-color: #fafafa;
    padding: 5px;
    border-top: solid 1px grey;
}

.trip:first-child {
    border-top: none;
}

.trip:hover {
    background-color: #efefef;
    cursor: pointer;
}

.trip-selected {
    background-color: #c7e3ff;
}

.trip-selected:hover {
    background-color: #b9dcff;
}

.trip-top {
    display: flex;
    flex: 0.55;
}

.trip-info {
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 0.15;
}

.trip-info > span {
    font-size: 14px;
    padding-left: 15%;
}

.trip-action {
    display: flex;
    flex: 0.3;
    justify-content: flex-end;
    padding-right: 10px;
}

.details-button {
    background-color: whitesmoke;
    color: #000c2a;
    border-color: #000c2a;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 2px;
    height: 30px;
    width: 75px;
    text-align: center;
    vertical-align: center;
    line-height: 25px;
    transition: background-color 300ms ease-out;
}

.details-button:hover {
    background-color: #00478f;
    color: whitesmoke;
    cursor: pointer;
}

.details-info {
    font-family: Georgia, serif;
    text-align: left;
    font-size: 16px;
    font-weight: 100;
    margin: 0;
    padding: 8px;
}

.trip-start {
    flex: 0.15;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trip-bar {
    flex: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.trip-icon {
    display: flex;
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #000c2a;
    color: #000c2a;
    transform: translate(-50%, 0);
    left: 0;
}

.trip-icon > span {
    position: absolute;
    top: 33px;
    font-size: 14px;
    white-space: nowrap;
}

.bar {
    height: 4px;
    width: 100%;
    background-color: #f8951f;
}

.trip-end {
    flex: 0.15;
    display: flex;
    justify-content: center;
    align-items: center;
}
