label {
    display: block;
    font: .9rem 'Fira Sans', sans-serif;
}
input[type="submit"]{
transform: translate(1px);
background-color: firebrick;
font-size: 30px;
}
input{
background: #f7f9fc;
border: none;
border-bottom: 1px solid #dfe7f1;
border-radius: 0;
outline: none;
color: inherit;
height: 42px;
}
label {
    margin-top: 1rem;
}
textarea{
    background: #f7f9fc;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    outline: none;
    color: inherit;
}
body{
    font-family: 'Courier New', monospace;
    color: black;
    text-align: center;
    font-size: 25px;
    background-color: rgb(169, 169, 195);

}
h1{
    color:firebrick;
}
p{
text-decoration: underline;
}